node_modules/
dist/
docs/
coverage/
.DS_Store
*.log
build/
wasm/build/
public/wasm/*
!public/wasm/zenith.js
!public/wasm/zenith.wasm.wasm

# Python
__pycache__/
*.pyc
.pytest_cache/

# Build cache
tsconfig.tsbuildinfo
cache/
